[submodule "app/src/main/python"]
	path = app/src/main/python
	url = https://github.com/EL-S/RoyalRoadLAPI.git
[submodule "fictionproviderapi"]
    path = fictionproviderapi
	url = git@github.com:CamilleBC/fictionMetadata-host-api.git
[submodule "utilities"]
	path = utilities
	url = git@github.com:CamilleBC/android-kotlin-utilities.git
